header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  padding: 20px 20px 20px 40px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.container {
  margin: 200px auto 40px auto; /* Ajuste inicial para desktop */
  padding: 30px;
}

/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    width: 90%; /* Aumenta a largura do container para dispositivos móveis */
    
    margin-top: 100px; /* Ajuste de acordo com a altura do cabeçalho */
    margin-right: auto;
    margin-bottom: 40px; /* Ajuste conforme necessário */
    margin-left: auto;
    padding: 20px; 
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column; 
    align-items: center; 
    padding: 15px; 
  }

  .container {
    margin-top: 80px; /* Ajuste para telas menores */
  }
}
